{% extends 'base.html' %} 
{% load static %}
{% block link %} {% static 'style/aboutus.css' %} {% endblock link %} {% block title %}Recxo -About Us{% endblock title %} {% block body %}

<div class="section-1">
  <!-- <h1>About Us</h1> -->
  <h2>R. E. C. X. O</h2>

  <!-- i think there should not be a full form recxo , if we have then there should not be rishav in it -->
  <!-- <h6>Rishav Evolving Creativity Xtra Ordinary</h6> -->
  <p>
    Building 
  </p>
</div>

{% comment %} <div class="section-2">
  <h1>More</h1>
</div> {% endcomment %}


{% comment %} copying from antern {% endcomment %}
{% comment %} our Aim starts  {% endcomment %}
<div class="sc-hiDMwi fKutmU">
  <div class="sc-ehvNnt kLRbLd">
    <div class="sc-laZRCg jhBPuv">
      <div class="sc-gGvHcT iIxQLD">
        <div class="sc-ckEbSK KlqdI" style="opacity: 1; transform: none;">
          <div class="sc-fbYMXx lazsti">
            <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 352 512" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
              <path d="M176 80c-52.94 0-96 43.06-96 96 0 8.84 7.16 16 16 16s16-7.16 16-16c0-35.3 28.72-64 64-64 8.84 0 16-7.16 16-16s-7.16-16-16-16zM96.06 459.17c0 3.15.93 6.22 2.68 8.84l24.51 36.84c2.97 4.46 7.97 7.14 13.32 7.14h78.85c5.36 0 10.36-2.68 13.32-7.14l24.51-36.84c1.74-2.62 2.67-5.7 2.68-8.84l.05-43.18H96.02l.04 43.18zM176 0C73.72 0 0 82.97 0 176c0 44.37 16.45 84.85 43.56 115.78 16.64 18.99 42.74 58.8 52.42 92.16v.06h48v-.12c-.01-4.77-.72-9.51-2.15-14.07-5.59-17.81-22.82-64.77-62.17-109.67-20.54-23.43-31.52-53.15-31.61-84.14-.2-73.64 59.67-128 127.95-128 70.58 0 128 57.42 128 128 0 30.97-11.24 60.85-31.65 84.14-39.11 44.61-56.42 91.47-62.1 109.46a47.507 47.507 0 0 0-2.22 14.3v.1h48v-.05c9.68-33.37 35.78-73.18 52.42-92.16C335.55 260.85 352 220.37 352 176 352 78.8 273.2 0 176 0z"></path></svg>
            </div>
            <div class="sc-GhhNo cEOHHH">A Platform for you</div>
            <div class="sc-fXqpFg jsJWdF">Recxo gives you full potential to create your software and give shape which is in your mind</div>
          </div>
          <div class="sc-ckEbSK KlqdI" style="opacity: 1; transform: none;">
            <div class="sc-fbYMXx lazsti"><svg stroke="currentColor" fill="currentColor" stroke-width="0" version="1.1" viewBox="0 0 16 16" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
              <path d="M5.016 16c-1.066-2.219-0.498-3.49 0.321-4.688 0.897-1.312 1.129-2.61 1.129-2.61s0.706 0.917 0.423 2.352c1.246-1.387 1.482-3.598 1.293-4.445 2.817 1.969 4.021 6.232 2.399 9.392 8.631-4.883 2.147-12.19 1.018-13.013 0.376 0.823 0.448 2.216-0.313 2.893-1.287-4.879-4.468-5.879-4.468-5.879 0.376 2.516-1.364 5.268-3.042 7.324-0.059-1.003-0.122-1.696-0.649-2.656-0.118 1.823-1.511 3.309-1.889 5.135-0.511 2.473 0.383 4.284 3.777 6.197z"></path>
            </svg>
          </div>
          <div class="sc-GhhNo cEOHHH">Innovative way</div>
          <div class="sc-fXqpFg jsJWdF">Transforming the way of building the software using AI.</div>
        </div>
      </div>
      <div class="sc-gGvHcT iIxQLD">
        <div class="sc-ckEbSK KlqdI" style="opacity: 1; transform: none;">
          <div class="sc-fbYMXx lazsti">
            <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
              <path fill="none" d="M0 0h24v24H0V0z"></path>
              <path d="M12.5 6.9c1.78 0 2.44.85 2.5 2.1h2.21c-.07-1.72-1.12-3.3-3.21-3.81V3h-3v2.16c-.39.08-.75.21-1.1.36l1.51 1.51c.32-.08.69-.13 1.09-.13zM5.47 3.92L4.06 5.33 7.5 8.77c0 2.08 1.56 3.22 3.91 3.91l3.51 3.51c-.34.49-1.05.91-2.42.91-2.06 0-2.87-.92-2.98-2.1h-2.2c.12 2.19 1.76 3.42 3.68 3.83V21h3v-2.15c.96-.18 1.83-.55 2.46-1.12l2.22 2.22 1.41-1.41L5.47 3.92z"></path></svg>
            </div>
            <div class="sc-GhhNo cEOHHH">Affordable Price</div>
          <div class="sc-fXqpFg jsJWdF">Democratizing software building through tech and ai ,innovation ,providing education for all at an affordable price.</div>
        </div>
        <div class="sc-ckEbSK KlqdI" style="opacity: 1; transform: none;">
          <div class="sc-fbYMXx lazsti"><svg stroke="currentColor" fill="currentColor" stroke-width="0" version="1.1" viewBox="0 0 18 16" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M3.5 2h-3c-0.275 0-0.5 0.225-0.5 0.5v11c0 0.275 0.225 0.5 0.5 0.5h3c0.275 0 0.5-0.225 0.5-0.5v-11c0-0.275-0.225-0.5-0.5-0.5zM3 5h-2v-1h2v1z"></path><path d="M8.5 2h-3c-0.275 0-0.5 0.225-0.5 0.5v11c0 0.275 0.225 0.5 0.5 0.5h3c0.275 0 0.5-0.225 0.5-0.5v-11c0-0.275-0.225-0.5-0.5-0.5zM8 5h-2v-1h2v1z"></path><path d="M11.954 2.773l-2.679 1.35c-0.246 0.124-0.345 0.426-0.222 0.671l4.5 8.93c0.124 0.246 0.426 0.345 0.671 0.222l2.679-1.35c0.246-0.124 0.345-0.426 0.222-0.671l-4.5-8.93c-0.124-0.246-0.426-0.345-0.671-0.222z"></path><path d="M14.5 13.5c0 0.276-0.224 0.5-0.5 0.5s-0.5-0.224-0.5-0.5c0-0.276 0.224-0.5 0.5-0.5s0.5 0.224 0.5 0.5z"></path></svg>
          </div>
          <div class="sc-GhhNo cEOHHH">Empowering AI for Creativity</div>
          <div class="sc-fXqpFg jsJWdF">AI will man work or not we don't know . But we can use it in it's full potential.</div>
        </div>
      </div>
    </div>
    <div style="opacity: 1; transform: translateX(0px);">
      <div class="sc-UpCWa hRixkX">our Aim</div>
      <div class="sc-jIILKH jSpvkA">Our aim is to give you the platform to make your Dream happen in the
        technical world. We are here to help lots of dream which are need to be
        done. Giving the direction to the ideas in a right way.</div>
</div>
</div>
</div>

<div class="section-4">
  <div class="sc-fcCDlF liRCXR">
    <div class="sc-GKYbw fBOYEi" style="opacity: 1">
      meet our leadership team
    </div>
    <div class="sc-gsGlKL idfpEz" style="opacity: 1">
      <!-- Out talented team of executives have come together with one goal: to help
      you, companies for the next generation of technical world. -->
    </div>
    <div class="sc-bWOGAC iqNxvk">
      <!-- <div
        class="sc-eGugkK bRBePK"
        style="opacity: 1; transform: translateY(0px)"
      >
        <div src="" class="sc-csDkEv hQIWHW"></div>
        <div class="sc-dEVLtI dNRqic">
          <div class="sc-brePNt cmdHQz">
            <a
              href="https://www.linkedin.com/"
              target="_blank"
              class="sc-gJqSRm jyrEwv"
              ><svg
                stroke="currentColor"
                fill="currentColor"
                stroke-width="0"
                viewBox="0 0 448 512"
                height="1em"
                width="1em"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z"
                ></path></svg></a>
          </div>
          <div class="sc-evzXkX bHwWQt">Arushi Gupta</div>
          <div class="sc-fHSyak csChda">
            co-founder  
          </div>
        </div>
      </div> -->
      <div class="sc-eGugkK bRBePK" style="opacity: 1; transform: translateY(0px)">
        <div src=" {% static 'img/rishavanand.png' %}" class="sc-csDkEv hapdRj"></div>
        <div class="sc-dEVLtI fDbqtJ">
          <div class="sc-brePNt cmdHQz">
            <a
              href="https://www.linkedin.com/in/rishav-anand-28621525b/"
              target="_blank"
              class="sc-gJqSRm jyrEwv"
              ><svg
                stroke="currentColor"
                fill="currentColor"
                stroke-width="0"
                viewBox="0 0 448 512"
                height="1em"
                width="1em"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z"
                ></path></svg></a
            ><a
              href="https://twitter.com/RishavAnand1912"
              target="_blank"
              class="sc-gJqSRm jyrEwv"
              ><svg
                stroke="currentColor"
                fill="currentColor"
                stroke-width="0"
                viewBox="0 0 512 512"
                height="1em"
                width="1em"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z"
                ></path></svg></a>
          </div>
          <div class="sc-evzXkX bHwWQt">Rishav Anand</div>
          <div class="sc-fHSyak csChda">co-founder  </div>
        </div>
      </div>
     
        
      </div>
    </div>
  </div>
</div>

{% endblock body %}
