{% extends 'base.html' %}
{% load static %} {% block title %}Recxo - Order Cancelation-Policy {%endblock title %} {% block link %} {% static 'style/term_cond.css' %}{% endblock link %} 
{% block body %}
<div class="sc-idXgbr hjghmF">
  <div class="sc-dIfARi grOnVc">
    <div class="sc-kgTSHT kGoDyt">Cancelation <span>Policy</span></div>
    <div class="sc-fLcnxK iOHFGz">Cancelation Policy For Recxo</div>
    <div class="sc-dmctIk cObrTf">
      <div class="sc-hHTYSt gopypA">
        <p>
          At Recxo, we provide top-quality  services to our costumers
          and we are confident that you will be satisfied with your result.
          However, we understand that plans and circumstances can change, so we
          have already provided free sample projects and works to see.
        </p>
      </div>
      <div class="sc-bBABsx bWBycr">
        <div class="sc-iveFHk iZKwDZ">
          <div class="sc-lllmON gcwIlL">Refund Policy</div>
          <div class="sc-iJnaPW fnbLGQ">
            <p>
              At Recxo, we understand that circumstances may change and you may
              need to request a refund for a software you have ordered. Our
              refund policy is designed to be fair and easy to understand.
            </p>
            <p>
              We offer a 7-day money-back guarantee for all of your order. If
              for any reason you are not satisfied with your purchase/order, you may
              request a refund within 7 days of the order date. Simply email us
              at team@recxo.in or contact to your personal consultant ,with your request and we will process your
              refund promptly.
            </p>
            <p>
              Please note that in order to be eligible for a refund, you must
              have to request before completion/less than 20% of the work and have not received a
              notifications,updates,e-mail of completion. Additionally, we do not offer refunds
              for any order bundles or special promotions.
            </p>
          </div>
        </div>
        <div class="sc-iveFHk iZKwDZ">
          <div class="sc-lllmON gcwIlL">Contact Us</div>
          <div class="sc-iJnaPW fnbLGQ">
            <p>
              We value your satisfaction and strive to provide high-quality
              service. If you have any issues or concerns, please do not
              hesitate to reach out to our support team at team@Recxo.in or personal consultant .
            </p>
            <br />Thank you for choosing Recxo for your Business.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock body %}
