{% load static %}
<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact us</title>
    <link rel="stylesheet" href="{% static 'style/contact.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

  </head>
  <body>
    <!-- alert message starting -->
    <!-- <div class="alert-success">
        <span>Message sent, Thank you for contacting us.</span>
    </div>
    <div class="alert-error">
        <span>something went wrong, Please try again.</span>
    </div> -->
    <!-- alert message ending -->

    <!-- contact section starts -->
    {% if messages %} {% for message in messages %}
    <div
      class="alert alert-{{ message.tags }} alert-dismissible fade show my-0 "
      role="alert"
    >
      <strong> {{ message }} </strong>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    {% endfor %} {% endif %}
    <div class="contact-section">
      <!-- <div class="contact-info">
            <div><i class="fas fa-map-marker-alt" >Address,City,Country</i></div>
            <div><i class="fas fa-envelope">contact@gmail.com</i></div>
            <div><i class="fas fa-clock">You contact us anytime you want</i></div>
        </div> -->
      <div class="contact-form">
        <h2>Contact Us</h2>
        <form action="{% url 'contact'%}" method="post">
          {% csrf_token %}
          <input
            type="text"
            name="name"
            class="text-box bord"
            placeholder="Your Name"
            required
          />
          <input
            type="email"
            name="email"
            class="text-box bord"
            placeholder="Your Email"
            required
          />
          <textarea
            name="message"
            class="message"
            rows="10"
            placeholder="Your Message"
            required
          ></textarea>
          <input type="submit" name="submit" class="send-btn" value="Send" />
        </form>
      </div>
      
      <div class="other-links">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/blog">Blog</a></li>
          <li><a href="/Services/Projects">Projects</a></li>
          <li><a href="/About">About</a></li>
          <li><a href="/Term_Condition">Terms & Conditions</a></li>
          <li><a href="/Privacy_Policy">Privacy Policy </a></li>
        </ul>
      </div>
    </div>
    <!-- contact section ends -->
    {% comment %} js script starts {% endcomment %}
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
      integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
