{% extends 'base.html' %}
{% block title %}@{{request.user}}{% endblock title %}
{% block body %}

<style>
    .profile-container{
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
    }
</style>

<div class="profile-container">

    <div class="order-updates" style="border: 2px solid red;">
        <h3>updates</h3>
        
    </div>
    
    <div class="user-info" style="border: 2px solid red;">
        <h1></h1>
        <h3>User Name : {{user.username}}</h3>
        <h3>User email : {{user.email}}</h3>
        <a href=" {% url 'update-user' request.user.id %}">Edit profile
        </a>


    </div>

    <div class="user-orders" style="border: 2px solid red;">
        <h3>orders</h3>
    </div>

</div>
<!-- <h1>Full Name : {{request.user.fullname}}</h1> -->
{% endblock body %}