{% extends 'base.html' %}
{% load static %}
{% block link %} {% static 'style/projects.css ' %} {%endblock link %}
<!-- date 20/11/2022 rishav anand -->
{% block title %}recxo - innovative and making life easy projects {% endblock title %}
<!-- mainpage starts -->
{% block body %}
<h1 id='intro'>Our Projects </h1>
<hr>
<hr>
<div id="container">

  <div class="section-o" id="section-1">
    <div class="image" id="chitra-1"></div>
    <div class="img-about" id="img-about-1">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum quia
        voluptatum voluptas eum eius ab, doloremque deserunt nisi odio, enim
        debitis assumenda reprehenderit itaque laboriosam iste possimus
        voluptate dolore quisquam consequuntur. Hic soluta, laborum maxime sequi
        earum aut quasi ex! Perspiciatis, nulla minus deleniti ut quisquam qui
        mollitia sapiente cum laboriosam ipsum exercitationem neque suscipit
        praesentium. Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Asperiores deserunt expedita doloremque facere qui, in quisquam quas
        incidunt vero nesciunt aut voluptatem, amet natus quo provident maiores
        exercitationem? Reiciendis non illum omnis quae illo sunt, autem
        similique laborum! Hic iste
      </p>
    </div>
  </div>

  <div class="section-e" id="section-2">
    <div class="image" id="chitra-2"></div>
    <div class="img-about" id="img-about-2">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum quia
        voluptatum voluptas eum eius ab, doloremque deserunt nisi odio, enim
        debitis assumenda reprehenderit itaque laboriosam iste possimus
        voluptate dolore quisquam consequuntur. Hic soluta, laborum maxime sequi
        earum aut quasi ex! Perspiciatis, nulla minus deleniti ut quisquam qui
        mollitia sapiente cum laboriosam ipsum exercitationem neque suscipit
        praesentium. Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Asperiores deserunt expedita doloremque facere qui, in quisquam quas
        incidunt vero nesciunt aut voluptatem, amet natus quo provident maiores
        exercitationem? Reiciendis non illum omnis quae illo sunt, autem
        similique laborum! Hic iste
      </p>
    </div>
  </div>

  <div class="section-o" id="section-3">
    <div class="image" id="chitra-3"></div>
    <div class="img-about" id="img-about-3">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum quia
        voluptatum voluptas eum eius ab, doloremque deserunt nisi odio, enim
        debitis assumenda reprehenderit itaque laboriosam iste possimus
        voluptate dolore quisquam consequuntur. Hic soluta, laborum maxime sequi
        earum aut quasi ex! Perspiciatis, nulla minus deleniti ut quisquam qui
        mollitia sapiente cum laboriosam ipsum exercitationem neque suscipit
        praesentium. Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Asperiores deserunt expedita doloremque facere qui, in quisquam quas
        incidunt vero nesciunt aut voluptatem, amet natus quo provident maiores
        exercitationem? Reiciendis non illum omnis quae illo sunt, autem
        similique laborum! Hic iste
      </p>
    </div>
  </div>

  <div class="section-e" id="section-4">
    <div class="image" id="chitra-4"></div>
    <div class="img-about" id="img-about-4">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum quia
        voluptatum voluptas eum eius ab, doloremque deserunt nisi odio, enim
        debitis assumenda reprehenderit itaque laboriosam iste possimus
        voluptate dolore quisquam consequuntur. Hic soluta, laborum maxime sequi
        earum aut quasi ex! Perspiciatis, nulla minus deleniti ut quisquam qui
        mollitia sapiente cum laboriosam ipsum exercitationem neque suscipit
        praesentium. Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Asperiores deserunt expedita doloremque facere qui, in quisquam quas
        incidunt vero nesciunt aut voluptatem, amet natus quo provident maiores
        exercitationem? Reiciendis non illum omnis quae illo sunt, autem
        similique laborum! Hic iste
      </p>
    </div>
  </div>

  <div class="section-o" id="section-5">
    <div class="image" id="chitra-5"></div>
    <div class="img-about" id="img-about-5">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum quia
        voluptatum voluptas eum eius ab, doloremque deserunt nisi odio, enim
        debitis assumenda reprehenderit itaque laboriosam iste possimus
        voluptate dolore quisquam consequuntur. Hic soluta, laborum maxime sequi
        earum aut quasi ex! Perspiciatis, nulla minus deleniti ut quisquam qui
        mollitia sapiente cum laboriosam ipsum exercitationem neque suscipit
        praesentium. Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Asperiores deserunt expedita doloremque facere qui, in quisquam quas
        incidunt vero nesciunt aut voluptatem, amet natus quo provident maiores
        exercitationem? Reiciendis non illum omnis quae illo sunt, autem
        similique laborum! Hic iste
      </p>
    </div>
  </div>

</div>

{% endblock body %}
<!-- mainpage ends -->
