{% extends 'base.html' %} {% load static %} {% block link %} 
{% static 'style/services.css' %}{% endblock link %} {% block title %}Recxo - Services
{%endblock title %} {% block body %}


<div class="topservice">
  <div class="services">
    <h1
      style="
        text-align: center;
        left: 50%;
        padding: 0 10px;
        font-family: 'Poppins', sans-serif;
        font-size: 40px;
      "
    >
      FAQs
    </h1>
      <!-- question 1 starts  -->
      <h2 class="ser-que">Why <span style="color: #55cb84">Recxo</span> ?</h2>
      
      <!-- question 1 ends   -->

      <!-- imporving the services interface -->
      <!-- <div class="containers" style="background-color: rgb(26, 25, 25)"> -->
        <div class="recxo_FaQ main_FaQ_card">
          <div
            class="card_FaQ"
            style="transform: translateY(50px) translateZ(0px)"
          >
            <div class="info_card_FaQ">
              <div class="heading_card_FaQ">your software</div>
              <p>
                If you order any software to be built then we offer a session to
            give to proper knowledge of your software .Like How much time will
            be taken , Which Programming language is used or the things needed
            to be added into your software .
              </p>
            </div>
            
          </div>

          <div
            class="card_FaQ"
            style="transform: translateY(50px) translateZ(0px)"
          >
            <div class="info_card_FaQ">
              <div class="heading_card_FaQ">Giving your touch</div>
              <p>
                We give you full freedom to choose the design and things for your
            software .Like the Colors,Theme,Look and smoothness etc . As you
            want we will provide you . If you don't even know anything then we
            will consult your a personal consultant as our next feature .
              </p>
            </div>
            
          </div>

          <div
            class="card_FaQ"
            style="transform: translateY(50px) translateZ(0px)"
          >
            <div class="info_card_FaQ">
              <div class="heading_card_FaQ">Personal Constultant</div>
              <p>
                This is the best feature for you . Because you are going to get a
            personal consultant who will tell you everything about your software
            . You can tell the consultant to do changes in your software , Our
            consultant will always keep you update about your software .So, you
            will have idea about the things you are going to have
              </p>
            </div>
          </div>

          <div
            class="card_FaQ"
            style="transform: translateY(50px) translateZ(0px)"
          >
            <div class="info_card_FaQ">
              <div class="heading_card_FaQ">Weekly Updates</div>
              <p>
                In this feature , We wil make you sure tha t we are working , Cause
            taking time for building software turns into not working for your
            software . We will update you by sending e-mail or on our app Recxo
            or by your personal consultant.
              </p>
            </div>
            
          </div>

          <div
            class="card_FaQ"
            style="transform: translateY(50px) translateZ(0px)"
          >
            <div class="info_card_FaQ">
              <div class="heading_card_FaQ">Profitable Payments</div>
              <p>
                We are not going to take large amount for a simple lookimg
                software . Because many of you have seen that how people are
                looted for a simple looking and working software. But it is not
                going to happen in Recxo because we will only demand you a
                optimum amount .
              </p>
            </div>
            
          </div>

          <div
            class="card_FaQ"
            style="transform: translateY(50px) translateZ(0px)"
          >
            <div class="info_card_FaQ">
              <div class="heading_card_FaQ">our own built softwares</div>
              <p>
                This feature will help you a lot cause having our own software
                into Mobile or Laptop will create a Eco-System like you are
                wondering . You will lots of benfits like file transferring ,no
                data loss, all thing synced and real-time work experience .
              </p>
            </div>
            
          </div>
        </div>
      <!-- </div> -->

      <!-- question 2 starts   -->

      <h2 class="ser-que">What are Payments Methods ?</h2>
      <p class="ser-ans">
        You can pay us by Online Methods(UPI , Paypal , Net Banking etc ) and
        Cash.
      </p>
      <!-- question 2 ends   -->
      <!-- question 3 starts -->
      <h2 class="ser-que">How to Order ?</h2>
      <p class="ser-ans">
        Very easy way to order . clicking on order can actually make it very
        simple . After ordering you will be asked for your own preferences that
        what do you want or not . If you don't want the you simply skip and pay
        . Here you go
      </p>
      <!-- question 3 ends -->
      <!-- question 4 starts -->
      <h2 class="ser-que">
        How much <span style="color: #55cb84">time</span> will be taken ?
      </h2>
      <p class="ser-ans">
        See it is not sure that a software will be completed in a already given
        time , cause things take time to be built .But yes we can confirm that
        under one month you will get your software (depends on How is your
        software ). We are very time efficient . Giving your software on time
        can actually help you and us
      </p>
      <p class="ser-ans">NOTE : All these softwares are coming soon</p>
      <!-- question 4 ends -->
      <!-- question 5 starts -->
      <h2 class="ser-que">What kinds of Software you can orders</h2>
      <div  class="softwares-type" style="display: flex;
      flex-wrap: wrap;
      justify-content: center;align-items: center;gap: 6rem;margin :4rem 0;" >
      <!-- <div class="card_FaQ" style="transition: transform 0.3s ease-in-out; transform: translateY(50px) translateZ(0px);height: 100%;width: 250px;"  onmouseover="this.style.transform = 'scale(1.2)';" onmouseout="this.style.transform = 'scale(1)';"></div>
      <div class="card_FaQ" style="transition: transform 0.3s ease-in-out; transform: translateY(50px) translateZ(0px);height: 100%;width: 250px;"  onmouseover="this.style.transform = 'scale(1.2)';" onmouseout="this.style.transform = 'scale(1)';"></div>
      <div class="card_FaQ" style="transition: transform 0.3s ease-in-out; transform: translateY(50px) translateZ(0px);height: 100%;width: 250px;"  onmouseover="this.style.transform = 'scale(1.2)';" onmouseout="this.style.transform = 'scale(1)';"></div> -->
        <div style=" border-radius: 10px; width: 300px; height: 300px; background-color: #55cb84; color: white; padding: 20px; text-align: center; transition: transform 0.3s ease-in-out;" onmouseover="this.style.transform = 'scale(1.05)';" onmouseout="this.style.transform = 'scale(1)';">
          <h3 id="soft">Applications</h3>
      <ul class="soft">
        <li>● Business</li>
        <li>● Personal</li>
        <li>● E-Commerce</li>
        <li>● Productivity</li>
        <li>● Company</li>
      </ul></div>
        <div style="border-radius: 10px; width: 300px; height: 300px; background-color: #55cb84; color: white; padding: 20px; text-align: center; transition: transform 0.3s ease-in-out;" onmouseover="this.style.transform = 'scale(1.05)';" onmouseout="this.style.transform = 'scale(1)';">
          
          <h3 id="soft">Websites</h3>
      <ul class="soft">
        <li>● Personal</li>
        <li>● Company</li>
        <li>● E-Commerce</li>
        <li>● Blog</li>
        <li>● Education</li>
        <li>● Media</li>
        <li>● Non-Profit</li>
      </ul></div>
        <div style="border-radius: 10px; width: 300px; height: 300px; background-color: #55cb84; color: white; padding: 20px; text-align: center; transition: transform 0.3s ease-in-out;" onmouseover="this.style.transform = 'scale(1.05)';" onmouseout="this.style.transform = 'scale(1)';">
          
          <h3 id="soft">Computer Applications</h3>
      <ul class="soft">
        <li>● Word processing apps</li>
        <li>● Spreadsheet apps</li>
        <li>● Databases</li>
        <li>● Application suites</li>
        <li>● Multimedia apps</li>
        <li>● Communication apps</li>
        <li>● Internet browsers</li>
        <li>● Email apps</li>
      </ul>
          </div>

      </div>

      <!-- question 5 ends -->

      <!-- question 6 starts -->
      <h2 class="ser-que">Things coming very soon</h2>
      <p class="ser-ans">
        Hey,there are lots of thing which are necessary to be done . We are here
        to make your life easier and comfortable.We will launch very amazing and
        innovative products which will change your life, job
        opportunites,internship, live courses not only for software but much
        more and subscription plans .
      </p>
      <!-- question 6 ends  -->
  
      <!-- question 7 starts -->
      <h2 class="ser-que">Will Making softwares be enough</h2>
      <p class="ser-ans">
        After creating softwares doesn't mean that pack your bags and run
        away,because there are lot of thing which should be done to
        softwares.Managing your software is most important thing than its making
        cause how smooth it runs or how well it perfoms matters. Database
        connection and UIUX(User Interface and User Experience) matters so this
        is the thing.
      </p>
      <!-- question 7 ends -->
    </ul>

<section id="section-2">

    <h2 style="text-align: center; font-size: 60px; font-family: 'Poppins', sans-serif;">
    Visit Our <span style="color: #55cb84">Paradise </span>
  </h2>



  <div class="recxo_FaQ main_FaQ_card">
    <div
    class="card_FaQ"
    style="transform: translateY(50px) translateZ(0px)"
    >
    <div class="info_card_FaQ">
      <div class="heading_card_FaQ">Projects</div>
      <p>
        Projects that are being made for your ease and mindblowing experience ,which you all haven't seen ever.
      </p>
    </div>
    <div id="visit-1" class="visit">
      <a href="/Services/Projects">Explore</a>
    </div>
  </div>
  
  <div
  class="card_FaQ"
  style="transform: translateY(50px) translateZ(0px)"
  >
  <div class="info_card_FaQ">
    <div class="heading_card_FaQ">Blog</div>
    <p>
      Visit our blog section to explore and share thoughts about
      coding,future etc..
    </p>
  </div>
  <div id="visit-2" class="visit"><a href="/blog">Explore</a></div>
</div>

<div class="card_FaQ"style="transform: translateY(50px) translateZ(0px)">
  <div class="info_card_FaQ">
    <div class="heading_card_FaQ">Subcriptions</div>
    <p>
      One of the best things happened in recxo.You will have perks if you take subscription plans so do checkout the subscription section.
    </p>
  </div>
  <div id="visit-3" class="visit"><a href="/Subscriptions">Explore</a></div>
</div>


</section>


<!-- ==================== Magic Card ============================= -->
<!-- 
<section id="section-3">

  <div class="card">
    Magic Card
  </div>
  <hr>
  <div class="card">
    Magic Card
  </div>
  

</section> -->

</div>
</div>
</div>

{% endblock body%}
