{% extends 'base.html' %} {% load static %} {% block link %} 
{% static 'style/services.css' %}{% endblock link %} {% block title %}Recxo - Services
{%endblock title %} {% block body %}


<div class="topservice">
  <div class="services">
    <h1
      style="
        text-align: center;
        left: 50%;
        padding: 0 10px;
        font-family: 'Poppins', sans-serif;
        font-size: 40px;
      "
    >
      FAQs
    </h1>
      <!-- question 1 starts  -->
      <h2 class="ser-que">Why <span style="color: #55cb84">Recxo</span> ?</h2>
      
      <!-- question 1 ends   -->

      <!-- imporving the services interface -->
      <!-- <div class="containers" style="background-color: rgb(26, 25, 25)"> -->
        <div class="recxo_FaQ main_FaQ_card">
          <div
            class="card_FaQ"
            style="transform: translateY(50px) translateZ(0px)"
          >
            <div class="info_card_FaQ">
              <div class="heading_card_FaQ">your software</div>
              <p>
                At our software company, we prioritize transparency and provide comprehensive information about our software to our customers. We believe in keeping you well-informed, empowering you to make the best decisions and ensuring a seamless, informed partnership.
              </p>
            </div>
            
          </div>

          <div
            class="card_FaQ"
            style="transform: translateY(50px) translateZ(0px)"
          >
            <div class="info_card_FaQ">
              <div class="heading_card_FaQ">Giving your touch</div>
              <p>
                Empower your creativity with our latest feature! Our software platform allows customers to design and customize their software, giving your ideas a personal touch. Take control of your vision and bring it to life with ease.
              </p>
            </div>
            
          </div>

          <div
            class="card_FaQ"
            style="transform: translateY(50px) translateZ(0px)"
          >
            <div class="info_card_FaQ">
              <div class="heading_card_FaQ">Personal Constultant</div>
              <p>
                Our software company now offers a dedicated personal consultant to keep our valued customers updated regularly. We are committed to providing personalized, timely information and support to enhance your experience with our software solutions.
              </p>
            </div>
          </div>

          <div
            class="card_FaQ"
            style="transform: translateY(50px) translateZ(0px)"
          >
            <div class="info_card_FaQ">
              <div class="heading_card_FaQ">Weekly Updates</div>
              <p>
                weekly software updates! Our commitment to keeping you informed is unwavering. Stay in the loop with regular insights on your software's progress, ensuring that you're always up to date and in control of your project.
              </p>
            </div>
            
          </div>

          <div
            class="card_FaQ"
            style="transform: translateY(50px) translateZ(0px)"
          >
            <div class="info_card_FaQ">
              <div class="heading_card_FaQ">Profitable Payments</div>
              <p>
                Our software company is pleased to provide our customers with lucrative payment options. We believe in rewarding your loyalty by offering profitable payment arrangements, ensuring a mutually beneficial partnership. Your success is our priority.
              </p>
            </div>
            
          </div>

          <div
            class="card_FaQ"
            style="transform: translateY(50px) translateZ(0px)"
          >
            <div class="info_card_FaQ">
              <div class="heading_card_FaQ">our own built softwares</div>
              <p>
                Our software company offers a suite of custom-built software solutions to streamline your operations. These tailor-made tools are designed to make your work easier and more efficient, providing practical, industry-specific solutions that empower your business to thrive.
              </p>
            </div>
            
          </div>
        </div>
      <!-- </div> -->

      <!-- question 2 starts   -->
      <h2 class="ser-que">30 reasons why you should choose Recxo</h2>
  <p class="ser-ans"></p>
  <br>
  <br>
      <h2 class="ser-que">How to Order ?</h2>
      <p class="ser-ans">
        Ordering software from Recxo is a straightforward and hassle-free process designed with your convenience in mind. To acquire our top-notch software solutions, follow these simple steps:
<br>
<br>
1. Visit Recxo: Start by visiting our website and exploring the range of software solutions we offer. You'll find detailed information about each product.
<br>
<br>
2. Choose Your Software: Select the software that aligns with your needs and requirements. You can compare features, pricing, and reviews to make an informed decision.
<br>
<br>
3. Customization (Optional): If necessary, get in touch with our team to discuss any customization or additional features you may require.
<br>
<br>
4. Request a Quote: Click on the "Request a Quote" or "Get Started" button and provide the required information. We'll promptly respond with a tailored quote.
<br>
<br>
5. Payment: Review the quote and make the payment using your preferred method, whether it's credit/debit card, UPI, online banking, or PayPal.
<br>
<br>

6. Delivery and Support: Once the payment is confirmed, you'll receive your software, along with any necessary setup instructions. Our customer support team is available to assist with any installation or operational queries.

Recxo is dedicated to making the software ordering process as user-friendly as possible. We're here to empower your business with cutting-edge solutions. Don't hesitate to contact us if you have any questions or require additional assistance. Your satisfaction is our priority!
      </p>
      <!-- question 2 ends   -->
      
      <!-- question 3 starts -->
      
      <h2 class="ser-que">What are Payments Methods ?</h2>
      <p class="ser-ans">
        At Recxo, we recognize the significance of offering a diverse range of payment methods to cater to our valued clients in India. We've streamlined the payment process to make it as convenient as possible for you.
        <br>
        <br>
        For our Indian clients, we accept payments through UPI (Unified Payments Interface) which is a fast and secure way to transfer funds directly from your bank account. We also facilitate payments through popular online banking platforms, ensuring seamless transactions for our clients across the country.
        <br>
        <br>
        Furthermore, we offer the convenience of PayPal for international clients looking to engage our services. We are committed to safeguarding your financial information, and all payments are processed securely in accordance with industry standards.
        <br>
        <br>
        Your satisfaction is our priority, and we strive to provide a hassle-free payment experience. Should you have any specific payment preferences or queries, our dedicated customer support team is ready to assist you. Your convenience, our commitment!
      </p>
      <!-- question 3 ends -->

      <!-- question 4 starts -->
      <h2 class="ser-que">
        How much <span style="color: #55cb84">time</span> will be taken ?
      </h2>
      <p class="ser-ans">
        The development timeline for your software project with Recxo depends on several factors. These include the complexity of the software, the scope of work, your specific requirements, and the extent of customization needed. 
        <br>
        <br>
        
        During our initial consultation, we'll work closely with you to understand your project's intricacies and establish clear objectives. This enables us to provide you with a realistic project timeline. While simple projects may take a few weeks to complete, larger and more intricate software may require several months or even longer. 
        <br>
        <br>
      
        Rest assured, our team is committed to delivering high-quality software within the agreed-upon timeframe. We prioritize transparency and will keep you updated on project progress throughout, ensuring your project stays on track and meets your expectations. Your satisfaction is our goal, and we are dedicated to delivering a solution that matches your needs, whether that takes weeks or months.
      </p>
      <!-- question 4 ends -->

      <!-- question 5 starts -->
      <h2 class="ser-que">What kinds of Software you can orders</h2>
      <div class="softwares-type">

        <div>
            <h2> Application</h2>
            <div class="card">
              <ul class="soft">
                <li>● Business</li>
                <li>● Personal</li>
                <li>● E-Commerce</li>
                <li>● Productivity</li>
                <li>● Company</li>
              </ul>
            </div>
        </div>
        
        <div>
              <h2> Website</h2>
              <div class="card">
                <ul class="soft">
                  <li>● Personal</li>
                  <li>● Company</li>
                  <li>● E-Commerce</li>
                  <li>● Blog</li>
                  <li>● Education</li>
                  <li>● Media</li>
                  <li>● Non-Profit</li>
                </ul>
              </div>
        </div>
      </div>
      <!-- question 5 ends -->
      <!-- question 6 starts -->
      <h2 class="ser-que">Will Making softwares be enough</h2>
      <p class="ser-ans">
        At Recxo , we firmly believe that creating software is just the beginning of the journey. While developing cutting-edge software solutions is our expertise, we understand that ensuring the software's long-term success goes beyond its initial creation. Maintainability is paramount.
<br>
<br>
Our commitment extends to providing robust post-development support, regular updates, and comprehensive maintenance services. We recognize that technology evolves, and your software must adapt to changing needs and emerging challenges. 
<br>
<br>

Our dedicated maintenance team is poised to address any issues, apply security patches, and make enhancements as required. We believe in building lasting partnerships with our clients, ensuring that their software remains efficient, secure, and aligned with their evolving objectives.
<br>
<br>

With Recxo , you're not just receiving software; you're gaining a long-term partner invested in your software's success and longevity. Your satisfaction and your software's maintainability are our utmost priorities.
      </p>
      <!-- question 6 ends -->
    </ul>


  
<!--<section id="section-2">

    <h2 style="text-align: center; font-size: 60px; font-family: 'Poppins', sans-serif;">
    Visit 
  </h2>



   <div class="recxo_FaQ main_FaQ_card">
    <div
    class="card_FaQ"
    style="transform: translateY(50px) translateZ(0px)"
    >
    <div class="info_card_FaQ">
      <div class="heading_card_FaQ">Projects</div>
      <p>
        Explore our Projects section to see what we're currently crafting. Witness our innovation and dedication in action. Visit now to discover our latest creations.
      </p>
    </div>
    <div id="visit-1" class="visit">
      <a href="{% url 'projects'%}">Explore</a>
    </div>
  </div>
  
  <div
  class="card_FaQ"
  style="transform: translateY(50px) translateZ(0px)"
  >
  <div class="info_card_FaQ">
    <div class="heading_card_FaQ">Blog</div>
    <p>
      Don't miss our Blog section, where we unveil our latest projects and share insights. Get a glimpse into our world of innovation. Visit now to stay updated on our latest developments.
    </p>
  </div>
  <div id="visit-2" class="visit"><a href="/blog">Explore</a></div>
</div>

<div class="card_FaQ"style="transform: translateY(50px) translateZ(0px)">
  <div class="info_card_FaQ">
    <div class="heading_card_FaQ">Subcriptions</div>
    <p>
      Simplify software access with our subscription plans. Choose the perfect plan to enjoy seamless use of our software solutions. Upgrade your experience with ease.
    </p>
  </div>
  <div id="visit-3" class="visit"><a href="{% url 'subscriptions'%}">Explore</a></div>
</div> -->


</section>


<!-- ==================== Magic Card ============================= -->

<section id="section-3" >

  <!-- <div class="card">
    Magic Card
  </div> -->
  

</section>

</div>
</div>
</div>

{% endblock body%}
