{% extends 'base.html' %} {% load static %} {% block link %} 
{% static 'style/software_section.css' %} {% endblock link %} {% block title %}softwares{%endblock title %} {% block body %}

<section id="section-1">

  
  <h1>Build Your !</h1>
  <h2><span class="auto-input" ></span></h2>
  <!--  -->
  <!-- <div class="card">
    <a href="{% url 'orders'%}">

      Don't click
    </a>
  </div> -->

</section>


<section id="section-2">

<div class="software_parent">
  <div class="child">
    <h2>Webiste</h2>
  </div>
  <div class="child">
    <h2>App</h2>
  </div>
</div>
</section>
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>

<!-- code for auto typing word -->
<script>
  var typed = new Typed(".auto-input", {
    strings: [
      "Websites",
      "Apps",
    ],
    typeSpeed: 50,
    backSpeed: 20,
    loop: true,
  });
</script>



{% endblock body %}
