{% extends 'base.html' %} {% load static %} {% block link %} 
{% static 'style/software_section.css' %} {% endblock link %} {% block title %}softwares{%endblock title %} {% block body %}

<!-- main section -->
<!-- <section id="section-parent">

  <section class="section-child" id="section-1">
    <h2>Getting Started with Website</h2>
    <div class="box">

        <div class="button">
            <a href="{% url 'orders'%}">Start Building</a>
        </div>
    </div>
  </section>

  <section class="section-child" id="section-2">
    <h2>Getting started with Application</h2>
    <div class="box">

        <div class="button">
            <a href="{% url 'orders'%}">Start Building</a>
        </div>
    </div>
  </section>
</section> -->

<section>

  
  <h1>Build Your !</h1>
  <h2><span class="auto-input" ></span></h2>
  <!--  -->
  <div class="card">
    <a href="{% url 'orders'%}">

      Don't click
    </a>
  </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>

<!-- code for auto typing word -->
<script>
  var typed = new Typed(".auto-input", {
    strings: [
      "Websites",
      "Apps",
    ],
    typeSpeed: 50,
    backSpeed: 20,
    loop: true,
  });
</script>



{% endblock body %}
