<!DOCTYPE html>
<!-- Coding By CodingNepal - youtube.com/codingnepal -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Sign up</title>
    <link rel="stylesheet" href="../static/css/signup.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <!-- <div class="name"><h1>recxo</h1></div> -->
    <div class="signin-section">
      {% if messages %} {% for message in messages %}
      <div
        class="alert alert-{{ message.tags }} alert-dismissible fade show my-0 "
        role="alert"
      >
        <strong> {{ message }} </strong>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
      {% endfor %} {% endif %}
      <div class="center">
        <!-- <a href="./index.html">Home</a> -->
        <h1>recxo</h1>
        <form method="post" action="{% url 'createuser' %}">
          {% csrf_token %}
          <div class="txt_field">
            <input type="text" id="username" name="username" required />
            <span></span>
            <label for="username">User Name</label>
          </div>
          <div class="txt_field">
            <input type="text" id="firstname" name="firstname" required />
            <span></span>
            <label for="firstname">First Name</label>
          </div>
          <div class="txt_field">
            <input type="text" id="lastname" name="lastname" required />
            <span></span>
            <label for="lastname">Last Name</label>
          </div>
          <div class="txt_field">
            <input type="email" id="email" name="email" required />
            <span></span>
            <!-- later on  we'll be adding the phone number also , if needed-->
            <label for="email"> email address</label>
          </div>
          <div class="txt_field">
            <input type="password" id="password" name="password" required />
            <span></span>
            <label>Password</label>
          </div>
          <div class="txt_field">
            <input
              type="password"
              id="confirmpass"
              name="confirmpass"
              required
            />
            <span></span>
            <label>Confirm Password</label>
          </div>
          <!-- <div class="pass">Forgot Password?</div> -->
          <input type="submit" value="Sign up" />
          <div class="signup_link">
            By Signing Up you will be our member , and agree to the
            <a href="{% url 'terms-conditions'%}">Term,</a
            ><a href="{% url 'privacy-policy'%}"">Privacy Policy</a>
            <!-- <a href="#">Signup</a> -->
          </div>
          <div class="signup_link">
            Already a member? <a href="{% url 'login'%}">Log in</a>
          </div>
        </form>
      </div>
      <div class="other-links">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/blog">Blog</a></li>
          <li><a href="{% url 'projects'%}">Projects</a></li>
          <li><a href="{% url 'about'%}">About</a></li>
          <li><a href="{% url 'terms-conditions'%}">Terms & Conditions</a></li>
          <li><a href="{% url 'privacy-policy'%}">Privacy Policy </a></li>
        </ul>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
      integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
