* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: 'Oxygen', sans-serif;
}

.section-1 {
    font-size: 30px;
    padding: 135px 0px 90px 0px;
    text-align: center;
    background: url(../img/developer-contact.jpg)no-repeat;
    backdrop-filter: blur(10px);
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

.section-1 h2 {
    backdrop-filter: blur(4px);
    font-size: 60px;
    font-family: 'Poppins', sans-serif;
    color: #55cb84;
}

.section-1 h6 {
    font-size: 18px;
    color: #fff;
    backdrop-filter: blur(4px);
}

.section-1 h1 {
    backdrop-filter: blur(4px);
    color: #f1f1f1;
}

.section-1 p {
    backdrop-filter: blur(4px);
    color: #f1f1f1;
    font-size: 35px;
    padding: 0 70px;
    margin: 10px 200px;
    background-color: rgba(0, 0, 0, 0.355);
}

.section-1 h1 h2 h6 {
    text-align: center;
    color: #f1f1f1;
    backdrop-filter: blur(4px);
}

/* section 1 ends */
/* section 2 starts */


.section-2 {
    max-width: 1024px;
    margin: auto;
    font-family: "Oxygen", sans-serif;
    margin-bottom: 130px;
    padding: 0px 60px;
}

.section-2 h1 {
    text-align: center;
    font-weight: 500;
    font-size: 40px;
    letter-spacing: -.015em;
    margin-bottom: 25px;

}

/* section 2 ends */

/* section 3 starts */
.section-3 {
    max-width: 1024px;
    margin: 0em auto;
    font-family: "Oxygen", sans-serif;
    margin-bottom: 20px;
    padding: 0px 60px;
}

.section-3 h1 {
    text-align: center;
    font-weight: 500;
    font-size: 40px;
    letter-spacing: -.015em;
    margin-bottom: 25px;

}

.section-3 p {

    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    color: #383333;
}

/* section 3 ends */

/* copied from antern */

.liRCXR {
    max-width: 110rem;
    margin: 3rem auto;
    padding: 2.4rem;
}

.fBOYEi {
    font-family: "Poppins",sans-serif;
    font-weight: 700;
    font-size: 5rem;
    line-height: 120%;
    text-align: center;
    color: rgb(23, 33, 51);
    text-transform: capitalize;
}

.idfpEz {
    font-weight: 400;
    font-size: 2rem;
    line-height: 150%;
    text-align: center;
    color: rgb(75, 75, 75);
    max-width: 85rem;
    margin: 2.4rem auto 7.2rem;
}

.iqNxvk {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
}

.bRBePK {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.dNRqic {
    padding: 4.5rem 0px 0px 2.4rem;
    position: relative;
}

.cmdHQz {
    display: flex;
    gap: 1.2rem;
}

.jyrEwv {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    background: rgb(217, 216, 213);
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(0, 0, 0);
    font-size: 1.8rem;
}

.fDbqtJ {
    padding: 0px 0px 4.5rem 2.4rem;
    order: -1;
    position: relative;
}

.cmdHQz {
    display: flex;
    gap: 1.2rem;
}

.bHwWQt {
    margin: 1.2rem 0px 1rem;
    font-family: "Poppins",sans-serif;
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 140%;
    color: rgb(37, 45, 58);
    text-transform: capitalize;
}

.csChda {
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 150%;
    color: rgb(71, 67, 67);
    opacity: 0.8;
    text-transform: capitalize;
}

.dNRqic {
    padding: 4.5rem 0px 0px 2.4rem;
    position: relative;
}

.cmdHQz {
    display: flex;
    gap: 1.2rem;
}

.hQIWHW {
    width: 22rem;
    height: 20rem;
    background: linear-gradient(175.43deg, rgba(64, 245, 155, 0.2) 6.55%, rgba(77, 243, 163, 0.06) 98.7%) center center / cover, url(/static/img/code.jpg);
    background-position: center center;
    border-radius: 3rem;
}

.hapdRj {
    width: 22rem;
    height: 20rem;
    background: linear-gradient(175.43deg, rgba(64, 245, 155, 0.2) 6.55%, rgba(77, 243, 163, 0.06) 98.7%) center center / cover, url(/static/img/code.jpg);
    background-position: center center;
    border-radius: 3rem;
}

.dNRqic::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 2px;
    background: linear-gradient(96.12deg, rgb(77, 243, 163) 52.98%, rgba(253, 251, 255, 0) 75.34%);
}

.dNRqic::before {
    content: "";
    position: absolute;
    top: -0.5rem;
    left: -0.5rem;
    border-radius: 50%;
    width: 1.2rem;
    height: 1.2rem;
    background: rgb(77, 243, 163);
}

.fDbqtJ::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 2px;
    background: linear-gradient(96.12deg, rgb(77, 243, 163) 52.98%, rgba(253, 251, 255, 0) 75.34%);
    transform: rotate(180deg);
}
.fDbqtJ::before {
    content: "";
    position: absolute;
    bottom: -0.5rem;
    left: -0.5rem;
    border-radius: 50%;
    width: 1.2rem;
    height: 1.2rem;
    background: rgb(77, 243, 163);
}



/* our aim copying from antern */
.fKutmU {
    padding: 6rem 5.4rem;
    max-width: 135rem;
    margin: auto;
    background: url(./assets/ourmission.svg) 3rem 35% no-repeat;
}
.kLRbLd {
    max-width: 110rem;
    margin: auto;
    display: flex;
    gap: 5rem;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}
.jhBPuv {
    display: flex;
    gap: 3rem;
    flex-shrink: 0;
    position: relative;
}
.iIxQLD {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}
.KlqdI {
    background: rgb(255, 255, 255);
    border: 0.1rem solid rgba(226, 227, 227, 0.6);
    box-shadow: rgb(244, 244, 244) 4px 4px 24px;
    border-radius: 0.8rem;
    max-width: 25rem;
    padding: 3.2rem 2.4rem;
}


.lazsti {
    border: 1px solid rgb(233, 233, 233);
    border-radius: 0.4rem;
    width: 5rem;
    height: 5rem;
    font-size: 2.5rem;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    color: rgb(77, 243, 163);
    line-height: 150%;
}
.cEOHHH {
    margin: 1.6rem 0px 0.8rem;
    font-weight: 500;
    font-size: 1.8rem;
    color: rgb(36, 55, 87);
    text-transform: capitalize;
    font-family: 'Poppins',sans-serif;
    
}
.jsJWdF {
    font-weight: 400;
    color: rgb(66, 82, 109);
    font-family: 'Poppins',sans-serif;
}

.hRixkX {
    font-family: 'Poppins',sans-serif;
    font-weight: 700;
    font-size: 5rem;
    line-height: 120%;
    color: rgb(36, 55, 87);
    text-transform: capitalize;
}
.jSpvkA {
    margin: 2.4rem 0px 3.2rem;
    font-weight: 400;
    font-size: 2rem;
    line-height: 150%;
    color: rgb(53, 71, 100);
}
.jhBPuv > div:last-child {
    margin-top: 10rem;
}

