:root {
    --color-green: #55cb84
}


/* =======Home========== */




/* ========BlogPost====== */

.roomList__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.4rem;
  }
  
  .roomList__header h2 {
    text-transform: uppercase;
    font-weight: 500;
    color: var(--color-light);
    letter-spacing: 1px;
  }
  
  .roomList__header p {
    font-weight: 500;
    color: var(--color-dark-light);
  }
  
  /*========== Room List Room ==========*/
  
  .roomListRoom {
    margin-bottom: 2.4rem;
    background-color: var(--color-dark);
    border-radius: 1rem;
    padding: 2rem;
  }
  
  .roomListRoom__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .roomListRoom__author {
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .roomListRoom__actions {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    position: relative;
  }
  
  .roomListRoom__actions span {
    font-size: 1.4rem;
    font-weight: 500;
  }
  
  .roomListRoom__actions svg {
    fill: var(--color-main);
  
    width: 1.6rem;
    height: 1.6rem;
  }
  
  .roomListRoom__content {
    margin: 1rem 0;
  }
  
  .roomListRoom__content a {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
    color: var(--color-light);
    transition: all 0.3s ease-in-out;
  }
  
  .roomListRoom__content a:hover {
    color: var(--color-main);
  }
  
  .roomListRoom__meta {
    border-top: 1px solid var(--color-dark-medium);
    padding-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .roomListRoom__joined {
    color: var(--color-light-gray);
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.4rem;
    font-weight: 500;
  }
  
  .roomListRoom__joined svg {
    fill: var(--color-main);
    width: 1.6rem;
    height: 1.6rem;
  }
  
  .roomListRoom__topic {
    padding: 5px 1.5rem;
    background-color: var(--color-dark-medium);
    border-radius: 5rem;
    font-weight: 500;
    font-size: 1.3rem;
  }