
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
/* ======================== Variables ============================= */
:root{
    --color-main : #55cb84;
    --color-black : black;
    --color-white : white;
    --color-fade-white: #f1f1f1;
    --font-oxygen: 'Oxygen', sans-serif;
    --font-poppins: 'Poppins', sans-serif;
}


/* ============================= navbar starts =============================*/
a {
    text-decoration: none;
}

nav {
    background-color: black;
    height: 90px;
    width: 100%;
    position: sticky;
    top: 0px;
    z-index: 100;
}

nav .nav-items .name {
    color: var(--color-main);
    font-size: 45px;
    font-weight: bold;
    line-height: 80px;
    font-family: var(--font-poppins);
}

.nav-items {
    justify-content: flex-end;
    display: flex;
    max-width: 1450px;
    margin: 0px auto;
}

nav .nav-items {

    display: flex;
    /* gap: 15rem; */
    justify-content: space-around;
}

.nav-items .item {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

.nav-items ._nav-items {
    color: var(--color-white);
    font-family: var(--font-poppins);
    font-size: 17px;
    /* font-weight: 500; */
    padding: 7px 13px;
}

/* making the dropdown section different from the other li  */
.nav-items #item-dropdown {
    color: var(--color-white);
    display: inline-block;
    margin: 0 5px;
}

.nav-items #item-dropdown .dropdown-menu li:hover {
    transition: .5s;
    color: var(--color-main);
}

nav ._nav-items a:hover {
    transition: .5s;
    text-decoration: none;
    color: var(--color-main);
}

.item .signin {
    /* margin-left: 20rem ; */
    padding: 10px 20px;
    font-size: 17px;
    background-color: var(--color-main);
    color: var(--color-white);
    border: rgb(83, 195, 8) solid 1.5px;
    border-radius: 0.5rem;

}

.nav-items .nav-links .hamburber {
    display: none;
    visibility: hidden;
}

/* dropdown when screen shrinks */
.nav-items #min-scrn-dropdown {
    color: var(--color-white);
    display: inline-block;
    position: absolute;
    visibility: hidden;
    margin: 0 5px;
}

.mobile-menu {
    display: none;

}
.mobile-menu a{
    text-decoration: none;
    color: var(--color-main);
}

#menu-toggle {
    display: none;
    visibility: hidden;
    opacity: 0;
}

.mobile-menu-toggle {
    color: white;
    font-size: 24px;
    padding: 10px;
    border: none;
    cursor: pointer;
}



@media (max-width: 821px) {
    .nav-items .nav-links .item {
        display: none;
    }
    .nav-items .name{
        font-size: 35px;
    }

    .nav-items .nav-links #item-dropdown {
        display: none;
    }

    .nav-items #min-scrn-dropdown {
        color: var(--color-main);
        display: inline-block;
        position: relative;
        right: 50%;
        top: 50%;
        visibility: visible;
        margin: 0 5px;
    }

    .nav-items .dropdown-toggle {
        position: relative;
        top: 50%;
    }

    #menu-toggle {
        display: block;
        visibility:visible;
    opacity: 100%;
    }

    .mobile-menu.active {
        display: block;
    }

}


@media (max-width: 420px) {
    nav{
        height: 75px;
    }
    .nav-items .name{
        font-size: 35px;
        line-height: 60px;
    }
}