{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'style/navbar.css'%}" />
    <style>
          .mobile-menu {
  display: none;
}

.mobile-menu.active {
  display: block;
}

.mobile-menu-toggle {
 background-color: black;
  color: #fff;
  font-size: 24px;
  padding: 10px;
  border: none;
  cursor: pointer;
}

    </style>
  </head>
  <body>
    <header>
    <nav>
      <!-- <input type="checkbox" id="check" />
        <label for="check" class="checkbtn">
          <i class="fa-solid fa-bars"></i>
        </label> -->
      <div class="nav-items">
        <label class="name">recxo</label>
        <div class="nav-links">
          <ul>
            <li class="item"><a class="_nav-items" href="/">Home</a></li>

            <li class="item">
              <a class="_nav-items" href="{% url 'services'%}">Services</a>
            </li>
            <!-- <li class="item">
              <a class="_nav-items" href="{% url 'orders'%}">Orders</a>
            </li> -->
            <li class="item">
              <a class="_nav-items" href="{% url 'contact'%}">Contact Us</a>
            </li>
            <li class="item">
              <a class="_nav-items" href="{% url 'about'%}">About Us</a>
            </li>


            <li>
              <button class="hamburger is-active">
                <div class="bar">

                </div>
              </button>
            </li>
          </ul>
        </div>
        <nav class="mobile-nav">
          <a href="/">Home</a>
          <a href="{% url 'services'%}">Services</a>
          <a href="{% url 'contact'%}">Contact</a>
          <a href="{% url 'about'%}">About</a>
        </nav>

        <!-- <header>
          <button id="menu-toggle" class="mobile-menu-toggle">☰</button>
          <section id="mobile-menu" class="mobile-menu">
            <ul>
              <li><a href="{% url 'home'%}">Home</a></li>
              <li><a href="{% url 'about'%}">About</a></li>
              <li><a href="{% url 'services'%}">Services</a></li>
              <li><a href="{% url 'contact' %}">Contact</a></li>

            </ul>
          </section>
        </header> -->
      </div>
    </nav>
  </header>
  <!-- <nav class="mobile-nav">
    <a href="">Home</a>
    <a href="">Services</a>
    <a href="">Contact</a>
    <a href="">About Us</a>
  </nav> -->
  </body>
<!-- my own written script -->
<script>
  const menu_btn = document.querySelector(".hamburger");
    const mobile_menu = document.querySelector(".mobile-nav");

    menu_btn.addEventListener("click", function () {
      menu_btn.classList.toggle("is-active");
      mobile_menu.classList.toggle("is-active");
    });
</script>

  <script src="{% static 'script/script.js'%}"></script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"
  ></script>
</html>
